backend:
  name: git-gateway
  branch: main
media_folder: assets/uploads
collections:
  - name: "recipe" # Used in routes, e.g., /admin/collections/blog
    label: "Recipe" # Used in the UI
    folder: "collections/_recipes" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - label: "Title"
        name: "title"
        widget: "string"
      - label: "Ingredients"
        name: "ingredients"
        widget: "list"
        default: []
        fields:
          - label: Amount
            name: amount
            widget: string
          - label: Measurement
            name: measurement
            widget: string
          - label: Name
            name: name
            widget: string
          - label: Note
            name: note
            widget: string
            default: ""
      - label: Method
        name: methods
        widget: list
        fields:
          - label: Steps
            name: steps
            widget: list
            field:
              label: Step
              name: step
              widget: text
