.nav {
  display: flex;
  flex-grow: 1;
}

.list {
  display: inherit;
  padding-left: 0;
  flex-grow: inherit;
  justify-content: stretch;
  margin: 0;
}

.item {
  display: inherit;
  flex-grow: inherit;
}

.link {
  display: inline-flex;
  flex-grow: inherit;
  justify-content: center;
  align-items: center;
}

.link-current {
  background-color: pink;
}

.label {
}
